// Variables
$primaryButtonColor :#E73137;
$plainWhite:#fff;
$plainBlack:#000000;
$navLinksColor: #575756;
$sectionBackgroundColor :#fff;
$sectionTwoBackgroundColorLeft:#59A6C0;
$sectionTwoRightBottomBackgroundColor: #F1F0F0;
$sectionThreeBackgroundColor :#3EA39750;
$sectionFourBackgroundColor :#E66559;
$sectionFiveBackgroundColor: #E5E5E5;
$sectionFiveAccordionBackground:#CFCDCC;
$footerSocialLinksColor:#59A6C0;
$sectionFiveAccordionBtnColor:#3EA397;
$headerNavHr: #D9D9D9;