// Variables 
@import "./variables";


footer {
    height: 130px;
    width: 100%;
    background-color: $plainWhite;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    a {
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
        color: $navLinksColor;
        text-decoration: none;
    }

    .up {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;

        .logoContainer img {
            height: 75px;
            width: 250px;
        }

        .socialLinks {
            display: flex;
            gap: 20px;

            i {
                color: $footerSocialLinksColor;
            }
        }


    }

    .down {
        text-align: center;
        width: 100%;
        padding: 15px 230px;
        height: 45px;
        background-color: $sectionFourBackgroundColor;

        .trademark {
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            color: $plainWhite;
        }
    }


}