// Variables 
@import "./variables";


footer {
    height: 130px;
    width: 100%;
    background-color: $plainWhite;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    a {
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
        color: $navLinksColor;
        text-decoration: none;
    }

    .up {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;

        .logoContainer img {
            height: 75px;
            width: 250px;
        }

        .social_site {
            height: 100%;
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;


            .socialLinks {
                display: flex;
                gap: 20px;

                i {
                    color: $footerSocialLinksColor;
                }
            }

            .siteLinks {
                display: flex;
                gap: 20px;

            }
        }



    }

    .down {
        text-align: center;
        width: 100%;
        padding: 15px 230px;
        height: 45px;
        background-color: $sectionFourBackgroundColor;

        .trademark {
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            color: $plainWhite;
        }
    }


}



//? Responsive

// Tablet

@media screen and(min-width:768px) and(max-width:1340px) {
    footer {
        min-height: 177px;

        .up {
            height: 100%;

            .logoContainer {
                width: 40%;
            }

            .social_site {
                width: 50%;
                display: flex;
                flex-direction: column;
                align-items: flex-end;

                .socialLinks {}

                .siteLinks {}


            }
        }
    }
}

// Mobile 

@media screen and(max-width:767px) {


    footer {

        display: flex;
        align-items: center;

        .up {
            padding: 20px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 100%;

            .social_site {
                display: inherit;
                flex-direction: column;
                gap: 20px;
            }

            .siteLinks {}

        }

        .down {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-height: 60px;

            .trademark {
                width: 100vw;
            }
        }
    }
}