// Variables 
@import "./variables";


.sectionFive {
    background-color: $plainWhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 3%;


    .title {
        font-weight: 400;
        font-size: 40px;
        line-height: 50px;
        text-align: center;

    }

    .accordion {
        background-color: $plainWhite;
        min-height: 554px;
        width: 700px;
        padding: 2%;

        .contentBox:first-child {
            border-top: 2px solid $sectionFiveAccordionBackground;

        }


        .contentBox {
            width: 100%;
            position: relative;


            .contentBoxTitle {

                cursor: pointer;
                text-align: left;
                position: relative;
                background-color: $plainWhite;
                width: 100%;
                border-bottom: 2px solid $sectionFiveAccordionBackground;
                font-weight: 500;
                font-size: 20px;
                line-height: 32px;
                color: $plainBlack;
                padding: 10px;

                &::before {
                    content: "+";
                    position: absolute;
                    color: $sectionFiveAccordionBtnColor;
                    top: 50%;
                    right: 20px;
                    transform: translateY(-50%);
                    font-size: 1.5em;
                }


            }

            .textContent {

                background-color: $sectionFiveAccordionBackground;
                opacity: 80%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 10px;
                font-weight: 400;
                font-size: 16px;
                line-height: 160.2%;
                letter-spacing: 0.02em;
                position: relative;
                height: 0;
                overflow: hidden;
                transition: 0.5s;
                overflow-y: auto;



            }

        }

        .contentBox.active {

            .contentBoxTitle {

                &::before {
                    content: "-";
                    position: absolute;
                    color: $sectionFiveAccordionBtnColor;
                    top: 50%;
                    right: 20px;
                    transform: translateY(-50%);
                    font-size: 1.5em;
                    ;
                }
            }

            .textContent {
                border-bottom: 2px solid $sectionFiveAccordionBackground;
                border-top: 2px solid $sectionFiveAccordionBackground;

                width: 100%;
                height: 284px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 20px;
                gap: 10px;
            }

        }

    }
}

//? Responsive

// Tablet

@media screen and(min-width:768px) and(max-width:1340px) {
    .sectionFive {
        width: 100%;
        min-height: 738px;

        .accordion {
            background-color: $plainWhite;
            min-height: 554px;
            width: 100%;
        }
    }
}

// Mobile 

@media screen and(max-width:767px) {
    .sectionFive {
        margin-bottom: 20px;

        .title {
            font-weight: 400;
            font-size: 30px;
            line-height: 38px;
        }

        .accordion {

            height: auto;
            width: 95%;

        }
    }
}