// Variables 
@import "./variables";


.sectionFive {
    background-color: $plainWhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 3%;

    .title {
        font-weight: 400;
        font-size: 40px;
        line-height: 50px;
        text-align: center;

    }

    .accordion {
        background-color: $sectionFiveAccordionBackground;
        height: 554px;
        width: 700px;
    }
}

//? Responsive

// Tablet

@media screen and(min-width:768px) and(max-width:1340px) {
    .sectionFive {
        width: 100%;
        height: 738px;

        .accordion {
            background-color: purple;
            height: 554px;
            width: 100%;
        }
    }
}

// Mobile 

@media screen and(max-width:767px) {
    .sectionFive {
        .title {
            font-weight: 400;
            font-size: 30px;
            line-height: 38px;
        }

        .accordion {
            width: 95%;
        }
    }
}