.sectionFive {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  padding: 3%;
}

.sectionFive .title {
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
}

.sectionFive .accordion {
  background-color: #fff;
  min-height: 554px;
  width: 700px;
  padding: 2%;
}

.sectionFive .accordion .contentBox:first-child {
  border-top: 2px solid #CFCDCC;
}

.sectionFive .accordion .contentBox {
  width: 100%;
  position: relative;
}

.sectionFive .accordion .contentBox .contentBoxTitle {
  cursor: pointer;
  text-align: left;
  position: relative;
  background-color: #fff;
  width: 100%;
  border-bottom: 2px solid #CFCDCC;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: #000000;
  padding: 10px;
}

.sectionFive .accordion .contentBox .contentBoxTitle::before {
  content: "+";
  position: absolute;
  color: #3EA397;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 1.5em;
}

.sectionFive .accordion .contentBox .textContent {
  background-color: #CFCDCC;
  opacity: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 160.2%;
  letter-spacing: 0.02em;
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  overflow-y: auto;
}

.sectionFive .accordion .contentBox.active .contentBoxTitle::before {
  content: "-";
  position: absolute;
  color: #3EA397;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 1.5em;
}

.sectionFive .accordion .contentBox.active .textContent {
  border-bottom: 2px solid #CFCDCC;
  border-top: 2px solid #CFCDCC;
  width: 100%;
  height: 284px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 20px;
  gap: 10px;
}

@media screen and (min-width: 768px) and (max-width: 1340px) {
  .sectionFive {
    width: 100%;
    min-height: 738px;
  }
  .sectionFive .accordion {
    background-color: #fff;
    min-height: 554px;
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .sectionFive {
    margin-bottom: 20px;
  }
  .sectionFive .title {
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
  }
  .sectionFive .accordion {
    height: auto;
    width: 95%;
  }
}
/*# sourceMappingURL=sectionFive.css.map */