.sectionFour {
  background-color: #E66559;
  height: 641.69px;
  padding: 70px 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

.sectionFour .leftContainer {
  width: 50%;
  background-color: #E66559;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.sectionFour .leftContainer .line {
  width: 110px;
}

.sectionFour .leftContainer .title {
  font-weight: 400;
  font-size: 46px;
  line-height: 58px;
  color: #fff;
}

.sectionFour .leftContainer .info {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #fff;
}

.sectionFour .leftContainer button {
  background-color: #fff;
  border: none;
  color: #E73137;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 14px 33px;
  border-radius: 10px;
  width: 280px;
  height: 52px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
}

.sectionFour .leftContainer button .btnArrow {
  margin-left: 10px;
}

.sectionFour .rightContainer {
  width: 600px;
  background-color: #fff;
  padding: 20px;
  -webkit-box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.35);
          box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.35);
}

.sectionFour .rightContainer .container {
  width: 100%;
  height: 100%;
}

.sectionFour .rightContainer .container .review {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.sectionFour .rightContainer .container .review .reviewTextContainer {
  font-weight: 500;
  font-size: 28px;
  line-height: 42px;
  color: #575756;
}

.sectionFour .rightContainer .container .review .reviewTextContainer .tickUp {
  display: inherit;
  width: 100%;
}

.sectionFour .rightContainer .container .review .reviewTextContainer .tickDown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}

.sectionFour .rightContainer .container .review .reviewTextContainer .tickDown img {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.sectionFour .rightContainer .container .review .profile {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  padding-left: 30px;
}

.sectionFour .rightContainer .container .review .profile img {
  border-radius: 50%;
  -o-object-fit: contain;
     object-fit: contain;
}

.sectionFour .rightContainer .container .review .profile .profileInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 169.2%;
  letter-spacing: 0.02em;
}

.sectionFour .rightContainer .container .review .btn-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 97px;
  cursor: pointer;
}

.sectionFour .rightContainer .container .review .btn-container .prevBtn img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.sectionFour .rightContainer .container .review .btn-container button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

@media screen and (min-width: 768px) and (max-width: 1340px) {
  .sectionFour {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px 20px;
    height: 863px;
    width: 100%;
    gap: 20px;
  }
  .sectionFour .leftContainer {
    width: 100%;
  }
  .sectionFour .leftContainer .title {
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
  }
  .sectionFour .leftContainer .info {
    width: 80%;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
  }
  .sectionFour .leftContainer button {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
  }
  .sectionFour .rightContainer {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    height: 515px;
    width: 728px;
    background-color: #fff;
  }
}

@media screen and (max-width: 767px) {
  .sectionFour {
    width: 100%;
    height: 850px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 40px;
    padding: 40px 20px;
  }
  .sectionFour .leftContainer {
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
    width: 100%;
  }
  .sectionFour .leftContainer .title {
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
  }
  .sectionFour .leftContainer .info {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
  }
  .sectionFour .leftContainer button {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    width: 280px;
  }
  .sectionFour .rightContainer {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    background-color: #fff;
    width: 100%;
    height: 100%;
  }
}
/*# sourceMappingURL=sectionFour.css.map */