@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");
.header {
  border-bottom: 1px solid #CFCDCC;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header img {
  height: 75px;
  width: 250px;
}

.header .open-nav-menu {
  visibility: hidden;
}

.header .nav-menu ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

.header .nav-menu ul a {
  text-decoration: none;
  color: #575756;
}

.header .nav-menu ul li {
  position: relative;
}

.header .nav-menu ul li .fa {
  margin-left: 10px;
  color: #E66559;
  opacity: 1;
  visibility: visible;
}

.header .nav-menu ul li .fa:hover {
  cursor: pointer;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.header .nav-menu ul li .dropdown {
  position: absolute;
  left: 0;
  gap: 10px;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  visibility: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 10px;
  background: #F1F0F0;
  -webkit-box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  width: 190px;
  margin-top: 20px;
}

.header .nav-menu ul li:hover .dropdown {
  visibility: visible;
}

.header .nav-menu ul li:hover .fa {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.header .nav-menu .close-nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 10px;
  top: 10px;
  height: 40px;
  width: 40px;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  visibility: hidden;
}

.header .nav-menu .close-nav-menu img {
  width: 16px;
  height: 20px;
}

.header .nav-menu .open-nav-menu {
  display: none;
  height: 34px;
  width: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.header .nav-menu .open-nav-menu button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@media (max-width: 1341px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100vh;
    width: 100vh;
  }
  header .logo {
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    padding: 30px;
    border: 1px solid #CFCDCC;
  }
  header .logo img {
    margin-left: 20px;
  }
  header .nav-menu {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10px;
  }
  header .nav-menu ul {
    padding: 10px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  header .nav-menu ul li {
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 19px;
    border-top: 1px solid #D9D9D9;
  }
  header .nav-menu ul li:last-child {
    border-top: 1px solid #D9D9D9;
  }
  header .nav-menu ul .up {
    border-top: 1px solid #D9D9D9;
  }
  button {
    background: transparent;
    border: none;
    cursor: pointer;
  }
  .hiddenBtn {
    visibility: hidden;
  }
  .openBtn {
    visibility: visible;
  }
}

.sectionOne {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.sectionOne .leftContainer {
  width: 50%;
}

.sectionOne .leftContainer img {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

.sectionOne .rightContainer {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5%;
}

.sectionOne .rightContainer .sectionOneBlueLine {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.sectionOne .rightContainer .rightContainerTitle {
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-weight: 400;
  font-size: 56px;
  line-height: 70px;
}

.sectionOne .rightContainer .rightContainerPara {
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-weight: 500;
  font-size: 24px;
  line-height: 40px;
  color: #575756;
}

.sectionOne .rightContainer button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 14px 33px;
  border-radius: 10px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  background-color: #E73137;
  border: none;
  width: 201px;
  height: 52px;
  cursor: pointer;
}

.sectionOne .rightContainer button .btnArrow {
  margin-left: 10px;
}

@media screen and (min-width: 768px) and (max-width: 1340px) {
  .sectionOne {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sectionOne .leftContainer {
    width: 100%;
  }
  .sectionOne .leftContainer img {
    width: 100%;
    height: 400px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .sectionOne .rightContainer {
    gap: 10px;
    width: 100%;
  }
  .sectionOne .rightContainer .rightContainerTitle {
    -ms-flex-item-align: start;
        align-self: flex-start;
    font-weight: 400;
    font-size: 50px;
    line-height: 62px;
  }
  .sectionOne .rightContainer .rightContainerPara {
    -ms-flex-item-align: start;
        align-self: flex-start;
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
    color: #575756;
  }
}

@media screen and (max-width: 767px) {
  .sectionOne {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sectionOne .leftContainer {
    width: 100%;
  }
  .sectionOne .leftContainer img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .sectionOne .rightContainer {
    gap: 10px;
  }
  .sectionOne .rightContainer .rightContainerTitle {
    -ms-flex-item-align: start;
        align-self: flex-start;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
  }
  .sectionOne .rightContainer .rightContainerPara {
    -ms-flex-item-align: start;
        align-self: flex-start;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #575756;
  }
  .sectionOne .rightContainer button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.sectionTwo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 902px;
}

.sectionTwo .leftContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #59A6C0;
}

.sectionTwo .leftContainer .whatWeDoContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  width: 80%;
}

.sectionTwo .leftContainer .whatWeDoContainer .sectionTwOWhiteLine {
  width: 110px;
  height: 10px;
}

.sectionTwo .leftContainer .whatWeDoContainer .leftContainerTitle {
  font-weight: 400;
  font-size: 46px;
  line-height: 58px;
  color: #fff;
}

.sectionTwo .leftContainer .whatWeDoContainer .leftContainerPara {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #fff;
}

.sectionTwo .leftContainer .whatWeDoContainer button {
  width: 263px;
  height: 52px;
  padding: 14px 33px;
  border-radius: 10px;
  border: none;
  background-color: #E73137;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sectionTwo .leftContainer .whatWeDoContainer button .btnArrow {
  margin-left: 5px;
}

.sectionTwo .rightContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.sectionTwo .rightContainer .up {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.sectionTwo .rightContainer .up img {
  width: 100%;
  height: 100%;
}

.sectionTwo .rightContainer .down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 30px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #F1F0F0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.sectionTwo .rightContainer .down .card {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: inherit;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
  width: 300px;
}

.sectionTwo .rightContainer .down .card .cardText {
  display: inherit;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sectionTwo .rightContainer .down .card .cardText .cardTitle {
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  color: #E73137;
}

.sectionTwo .rightContainer .down .card .cardText .cardInfo {
  font-weight: 500;
  font-size: 26px;
  line-height: 32px;
  color: #575756;
}

@media screen and (min-width: 768px) and (max-width: 1340px) {
  .sectionTwo {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sectionTwo .leftContainer {
    display: inherit;
    padding: 3% 0;
    width: 100%;
  }
  .sectionTwo .leftContainer .whatWeDoContainer {
    width: 100%;
    padding: 0 3%;
  }
  .sectionTwo .leftContainer .whatWeDoContainer .leftContainerTitle {
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
  }
  .sectionTwo .leftContainer .whatWeDoContainer .leftContainerPara {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
  }
  .sectionTwo .rightContainer .cardHolder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 20px;
  }
  .sectionTwo .rightContainer .cardHolder .card {
    width: 344px;
  }
}

@media screen and (max-width: 767px) {
  .sectionTwo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sectionTwo .leftContainer {
    padding: 5%;
    width: 100%;
  }
  .sectionTwo .leftContainer .whatWeDoContainer .leftContainerTitle {
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
  }
  .sectionTwo .leftContainer .whatWeDoContainer .leftContainerPara {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
  }
  .sectionTwo .leftContainer .whatWeDoContainer button {
    width: 100%;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
  }
  .sectionTwo .rightContainer .cardHolder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 27px;
  }
  .sectionTwo .rightContainer .cardHolder .card {
    width: 100%;
  }
  .sectionTwo .rightContainer .cardHolder .card .cardText {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
  }
  .sectionTwo .rightContainer .cardHolder .card .cardInfo {
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
  }
}

.sectionThree {
  background-color: lightblue;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 500px;
}

.sectionFour {
  background-color: #E66559;
  height: 641.69px;
  padding: 70px 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

.sectionFour .leftContainer {
  width: 50%;
  background-color: #E66559;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.sectionFour .leftContainer .line {
  width: 110px;
}

.sectionFour .leftContainer .title {
  font-weight: 400;
  font-size: 46px;
  line-height: 58px;
  color: #fff;
}

.sectionFour .leftContainer .info {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #fff;
}

.sectionFour .leftContainer button {
  background-color: #fff;
  border: none;
  color: #E73137;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 14px 33px;
  border-radius: 10px;
  width: 280px;
  height: 52px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
}

.sectionFour .leftContainer button .btnArrow {
  margin-left: 10px;
}

.sectionFour .rightContainer {
  width: 600px;
  background-color: #fff;
  padding: 20px;
  -webkit-box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.35);
          box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.35);
}

.sectionFour .rightContainer .container {
  width: 100%;
  height: 100%;
}

.sectionFour .rightContainer .container .review {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.sectionFour .rightContainer .container .review .reviewTextContainer {
  font-weight: 500;
  font-size: 28px;
  line-height: 42px;
  color: #575756;
}

.sectionFour .rightContainer .container .review .reviewTextContainer .tickUp {
  display: inherit;
  width: 100%;
}

.sectionFour .rightContainer .container .review .reviewTextContainer .tickDown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}

.sectionFour .rightContainer .container .review .reviewTextContainer .tickDown img {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.sectionFour .rightContainer .container .review .profile {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  padding-left: 30px;
}

.sectionFour .rightContainer .container .review .profile img {
  border-radius: 50%;
  -o-object-fit: contain;
     object-fit: contain;
}

.sectionFour .rightContainer .container .review .profile .profileInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 169.2%;
  letter-spacing: 0.02em;
}

.sectionFour .rightContainer .container .review .btn-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 97px;
  cursor: pointer;
}

.sectionFour .rightContainer .container .review .btn-container .prevBtn img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.sectionFour .rightContainer .container .review .btn-container button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

@media screen and (min-width: 768px) and (max-width: 1340px) {
  .sectionFour {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px 20px;
    height: 863px;
    width: 100%;
    gap: 20px;
  }
  .sectionFour .leftContainer {
    width: 100%;
  }
  .sectionFour .leftContainer .title {
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
  }
  .sectionFour .leftContainer .info {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
  }
  .sectionFour .leftContainer button {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
  }
  .sectionFour .rightContainer {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    height: 515px;
    width: 728px;
    background-color: #fff;
  }
}

@media screen and (max-width: 767px) {
  .sectionFour {
    width: 100%;
    height: 850px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 40px;
    padding: 40px 20px;
  }
  .sectionFour .leftContainer {
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
    width: 100%;
  }
  .sectionFour .leftContainer .title {
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
  }
  .sectionFour .leftContainer .info {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
  }
  .sectionFour .leftContainer button {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    width: 280px;
  }
  .sectionFour .rightContainer {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    background-color: #fff;
    width: 100%;
    height: 100%;
  }
}

.sectionFive {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  padding: 3%;
}

.sectionFive .title {
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
}

.sectionFive .accordion {
  background-color: #fff;
  min-height: 554px;
  width: 700px;
  padding: 2%;
}

.sectionFive .accordion .contentBox:first-child {
  border-top: 2px solid #CFCDCC;
}

.sectionFive .accordion .contentBox {
  width: 100%;
  position: relative;
}

.sectionFive .accordion .contentBox .contentBoxTitle {
  cursor: pointer;
  text-align: left;
  position: relative;
  background-color: #fff;
  width: 100%;
  border-bottom: 2px solid #CFCDCC;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: #000000;
  padding: 10px;
}

.sectionFive .accordion .contentBox .contentBoxTitle::before {
  content: "+";
  position: absolute;
  color: #3EA397;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 1.5em;
}

.sectionFive .accordion .contentBox .textContent {
  background-color: #CFCDCC;
  opacity: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 160.2%;
  letter-spacing: 0.02em;
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  overflow-y: auto;
}

.sectionFive .accordion .contentBox.active .contentBoxTitle::before {
  content: "-";
  position: absolute;
  color: #3EA397;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 1.5em;
}

.sectionFive .accordion .contentBox.active .textContent {
  border-bottom: 2px solid #CFCDCC;
  border-top: 2px solid #CFCDCC;
  width: 100%;
  height: 284px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 20px;
  gap: 10px;
}

@media screen and (min-width: 768px) and (max-width: 1340px) {
  .sectionFive {
    width: 100%;
    min-height: 738px;
  }
  .sectionFive .accordion {
    background-color: #fff;
    min-height: 554px;
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .sectionFive {
    margin-bottom: 20px;
  }
  .sectionFive .title {
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
  }
  .sectionFive .accordion {
    height: auto;
    width: 95%;
  }
}

.sectionSix {
  background-color: #CFCDCC;
  width: 100%;
  height: 705px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sectionSix .titleContainer {
  padding-bottom: 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.sectionSix .titleContainer .title {
  font-weight: 400;
  font-size: 46px;
  line-height: 58px;
}

.sectionSix form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  gap: 20px;
}

.sectionSix form input {
  width: 580px;
  border: 1px solid #575756;
  border-radius: 10px;
  height: 50px;
  padding: 10px;
}

.sectionSix form .up {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.sectionSix form .up label {
  display: block;
}

.sectionSix form .up .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.sectionSix form .up .right {
  background-attachment: blue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.sectionSix form .down {
  width: 100%;
  text-align: center;
}

.sectionSix form .down textarea {
  width: 1200px;
  border: 1px solid #575756;
  border-radius: 10px;
  resize: none;
}

.sectionSix form .btnContainert {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sectionSix form .btnContainert button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 148px;
  height: 52px;
  padding: 14px 33px;
  border-radius: 10px;
  border: none;
  color: #fff;
  background-color: #E73137;
}

.sectionSix form .btnContainert button .btnArrow {
  margin-left: 10px;
}

.sectionSix form .btnContainert h5 {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #575756;
}

footer {
  height: 130px;
  width: 100%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer a {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #575756;
  text-decoration: none;
}

footer .up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

footer .up .logoContainer img {
  height: 75px;
  width: 250px;
}

footer .up .social_site {
  height: 100%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

footer .up .social_site .socialLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

footer .up .social_site .socialLinks i {
  color: #59A6C0;
}

footer .up .social_site .siteLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

footer .down {
  text-align: center;
  width: 100%;
  padding: 15px 230px;
  height: 45px;
  background-color: #E66559;
}

footer .down .trademark {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #fff;
}

@media screen and (min-width: 768px) and (max-width: 1340px) {
  footer {
    min-height: 177px;
  }
  footer .up {
    height: 100%;
  }
  footer .up .logoContainer {
    width: 40%;
  }
  footer .up .social_site {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

@media screen and (max-width: 767px) {
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .up {
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
    width: 100%;
  }
  footer .up .social_site {
    display: inherit;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
  footer .down {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-height: 60px;
  }
  footer .down .trademark {
    width: 100vw;
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=styles.css.map */