// Variables 
@import "./variables";
// Header
@import "./header";
// Section one 
@import "./sectionOne";
// Section two
@import "./sectionTwo";
// Section three
@import "./sectionThree";
// Section wfour
@import "./sectionFour";
//  Section five
@import "./sectionFive";
//  Section six
@import "./sectionSix";
//  Footer
@import "./footer";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}